@import 'tailwindcss';

:root {
  scroll-behavior: smooth;
}

/* Suporte global ao tema */
body[data-theme='dark'] {
  background-color: #121212;
  color: #f5f5f5;
}

body[data-theme='light'] {
  background-color: #ffffff;
  color: #222;
}
